In [1]:
import findspark
findspark.init()

import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [5]:
df.createOrReplaceTempView("a")

In [6]:
sql_results = spark.sql("select * from a")

In [10]:
sql_results.toPandas().to_csv('my.csv',index=False)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("groupbyagg").getOrCreate()

In [2]:
df = spark.read.csv('richest_100.csv',inferSchema=True,header=True)

In [3]:
df.show()

+----------+-----------+
|        id|        num|
+----------+-----------+
|3110cd6537|14126904237|
|852f5bfc03|12218765388|
|bce73be6a9| 7928562507|
|b61844a79d| 7774576904|
|dc63f200e2| 5414663748|
|c48152eb89| 5034940004|
|ef0dedd06f| 4625464981|
|93834f3c96| 4256863544|
|57171658c7| 3081815725|
|5b4b2729d4| 3007521369|
|164d484e99| 2957312037|
|b836c850ed| 2828152656|
|3ba493f460| 1779098156|
|5ea6340227| 1764107107|
|923dcde31b| 1612368186|
|1556fe84f7| 1434320551|
|d7c7aeac09| 1405493614|
|fb211a4127| 1345701649|
|b4a666bf7c| 1328547693|
|4c29ae7ed2| 1180233724|
+----------+-----------+
only showing top 20 rows

In [4]:
df.createOrReplaceTempView("richest_100")

In [35]:
sql_results = spark.sql("select max(num) as richest_sum from richest_100")

In [36]:
sql_results.show()

+-----------+
|richest_sum|
+-----------+
|14126904237|
+-----------+

In [7]:
df2 = spark.read.csv('MJ100.csv',inferSchema=True,header=True)

In [8]:
df.createOrReplaceTempView("MJ100")

In [9]:
sql_results2 = spark.sql("select sum(num) as top_sum from (select * from MJ100 limit 10) as top_10")

In [10]:
sql_results2.show()

+-----------+
|    top_sum|
+-----------+
|67470078407|
+-----------+

In [25]:
sql_results2.createOrReplaceTempView("top")

In [37]:
sql_results.createOrReplaceTempView("richest")

In [32]:
spark.sql('select * from top').show()

+-----------+
|    top_sum|
+-----------+
|67470078407|
+-----------+

In [38]:
spark.sql('select * from richest').show()

+-----------+
|richest_sum|
+-----------+
|14126904237|
+-----------+

In [45]:
ratio = spark.sql('set @ratio = @richest_sum/@top_sum select @ratio')

In [46]:
ratio.show()

+------+--------------------+
|   key|               value|
+------+--------------------+
|@ratio|@richest_sum/@top...|
+------+--------------------+

In [45]:
sql_results3 = spark.sql('select top.top_sum/richest.richest_sum from top cross join richest')

In [46]:
sql_results3.show()

+-------------------------------------------------------+
|(CAST(top_sum AS DOUBLE) / CAST(richest_sum AS DOUBLE))|
+-------------------------------------------------------+
|                                       4.77599885120535|
+-------------------------------------------------------+

In [43]:
sql_results3.createOrReplaceTempView('join_sum')

In [44]:
spark.sql('select top_sum/richest_sum from join_sum').show()

+-------------------------------------------------------+
|(CAST(top_sum AS DOUBLE) / CAST(richest_sum AS DOUBLE))|
+-------------------------------------------------------+
|                                       4.77599885120535|
+-------------------------------------------------------+

In [ ]:
sql_results3.show()

In [ ]:
sql_results = spark.sql("select id,sum(num) as total_wealth from all group by id order by total_wealth DESC")

In [ ]:
sql_results = spark.sql("select id,sum(num) as total_wealth from all group by id order by total_wealth DESC limit 1000000")

In [ ]:
sql_results.show()

In [9]:
sql_results.show()

+----------+------------+
|        id|total_wealth|
+----------+------------+
|5be87a16cb|  2137367737|
|0576e9dedd|  2109953740|
|551a1d9c53|  2098043606|
|c57a91becf|  2096431866|
|9271766638|  2089128107|
|9f349d59a8|  2082028780|
|c1a12316d7|  2044061753|
|94d08d92fc|  2033745750|
|344aa87739|  2021791962|
|58a6e25017|  1927084773|
|f47518505f|  1916648284|
|9cca4701e3|  1903438555|
|beb6902920|  1883013153|
|da00bf82c2|  1854585861|
|ef4fc575c8|  1852659182|
|154486422b|  1802504750|
|d9658178f1|  1802300699|
|77e91aff93|  1783083580|
|7c5b6898f8|  1780523970|
|ac280ec103|  1779098156|
+----------+------------+
only showing top 20 rows

In [24]:
sql_results.toPandas().to_csv('my.csv',index=False)